@page
@model ProgrammingExperienceJobsApp.Pages.JobPosts.IndexModel

<div class="container">
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Job Posts</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="./JobPosts/Create" class="btn btn-primary">
                Create New Job Post
            </a>
        </div>
    </div>
    <form method="post">
        <div class="row mb-3">
            <div class="mb-3">
                <label asp-for="Experience.Language"></label>
                <select asp-for="Experience.Language" class="form-select">
                    @foreach (var language in @Model.languageValues)
                    {
                        <option value=@language>@language.ToString().Replace("Sharp", "#").Replace("Plus", "+")</option>
                    }
                </select>
                <span asp-validation-for="Experience.Language" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Experience.Years"></label>
                <input asp-for="Experience.Years" class="form-control" />
                <span asp-validation-for="Experience.Years" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px;">Search</button>
        </div>
    </form>

    @foreach (var jobPost in Model.JobPosts)
    {
        <div class="card mb-3">
            <a asp-page="./JobPosts/View" asp-route-id="@jobPost.Id">
                <div class="card-body">
                    <h4 class="card-title">@jobPost.Title</h4>
                    <p class="card-text">@jobPost.Description</p>
                </div>
            </a>
        </div>
    }
</div>
