@page "{Id}"
@model ProgrammingExperienceJobsApp.Pages.JobPosts.ViewModel

<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">@Model.JobPost.Title</h4>
        <p class="card-text">@Model.JobPost.Description</p>
        <p>Contact Information</p>
        <p class="card-text">Company Name: @Model.JobPost.CompanyName</p>
        <p class="card-text">Email: @Model.JobPost.Email</p>
        <p class="card-text">Phone Number: @Model.JobPost.PhoneNumber</p>
    </div>
</div>
